beautifulsoup4==4.12.3
python-dotenv==1.0.1
aiohttp==3.11.11
aiofiles==24.1.0

backoff==2.2.1
DateTime==5.5
streamlit==1.41.1
ftfy==6.3.1
bs4==0.0.2
langchain==0.3.16
langchain-community==0.3.16
langchain-openai==0.3.2
langchain-core==0.3.32
pydantic==2.10.6